*{
	box-sizing: border-box;
	margin: 0;
}

/* ------------------------- */
/* HEADER */
/* ------------------------- */

.contcategorias {
  width: 100%;
  height: 60px;
  font-size: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: -webkit-gradient(linear,left top,right top,from(#fc00ff),to(#00dbde));
  background: linear-gradient(135deg, #009486 0%, #074401 100%);
  border-radius: 5px;
}

li {
  color: white;
  margin: 0 30px;
  font-size: 12px;
  list-style: none;  
}

span, p {
 display:inline;
}


.container .contcategorias ul li,
.container .contrecetas ul li,
.container .contrecetas2 ul li,
.container .contrecetas3 ul li {
  cursor: pointer;
}

.container .contcategorias ul li.active p,
.container .contrecetas ul li.active p
.container .contrecetas2 ul li.active p
.container .contrecetas3 ul li.active p {
  color: yellow;
}

/* ------------------------- */
/* BODY */
/* ------------------------- */

#home {
  margin-top: 10px;
}

.hide {
  display: none;
}



/* ------------------------- */
/* FOOTER */
/* ------------------------- */






/** Bootstrap */

.navbar-light .navbar-brand {
    color: black;
}

.logotext{
	font-family: 'Russo One', sans-serif;
}

.navbar-light .navbar-nav .active > .nav-link{

	color: black;
	font-weight: 700;
}

.navbar-light .navbar-nav .nav-link {
    color: black;
    font-weight: 700;
}

.btn-primary{
	background: #34a436;
    color: #fff;
    border-radius: 15px;
}

.overlay{
     background:#000;
     bottom: 0;
     left: 0;
     opacity: 0.6;
     position: absolute;
     right: 0;
     top: 0;
     padding: 2px

}

.card {
    
    box-shadow: 0 5px 7px #e0e5e8;
    margin-bottom: 30px;
}

.avatar {
    
    height: 100px;
    width: 100px;
   
    border-radius: 50%;
    margin-top: 15px;

}

.footer{
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;	
  background-color: transparent;

}



.seller{
	background-color: #ddd;
}



@media screen and (max-width: 992px) {
	.space_login{
	padding-bottom: 5px;
	}
}

